@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@400;500;900&display=swap");

:root {
  --wunder-font-family-primary: "Roboto", sans-serif;

  --wunder-font-weight-normal: 400;
  --wunder-font-weight-medium: 500;
  --wunder-font-weight-bold: 900;
}
